.main{
    background-color: #344e5c;
    height: 500px;
}
.main2{
    padding: 20px;
}
.h1{
    color: black;
    text-align: center;
    
}
h3{
    color: aliceblue;
   text-align: center; 
   padding-top: 40px
}