nav,nav ul{
    display: flex;
}
nav{
    background-color: #344e5c;
    top: 0;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
::-webkit-scrollbar{
    display: none;
}
nav ul{
    gap: 1.5rem;
    list-style:none ;
    font-size: 1.2rem;
    color:#ecf3f2;
    padding-right: 35px;
}

.logo{
    font-size: 2rem;
    color: aliceblue;
}
.logo:hover{
    cursor: default;
}
a{
    text-decoration: none;
    color: inherit;
}

.rounded-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 20px; 
    text-decoration: none; 
    color: #ffffff; 
    font-size: 12px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    list-style: none; 
    margin: 5px; 
}

.rounded-button:hover {
    background-color: #333; 
    color: #fff; 
}

.menu-icon{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;

}
nav .menu-icon span{
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.25rem;
    transition: all 0.3s ease ;
}
.menu-icon.open span:nth-child(1){
    transform: rotate(42deg) translateY(18px);
    
}
.menu-icon.open span:nth-child(2){
    opacity: 0;
}

.menu-icon.open span:nth-child(3){
    transform: rotate(-43deg) translateY(-17px);
    
}

.menu-icon.close span:nth-child(1){
    transform: rotate(0) translateY(0);
    
}
.menu-icon.close span:nth-child(2){
    opacity: 1;
}

.menu-icon.close span:nth-child(3){
    transform: rotate(0) translateY(0);
    
}
/* media queries*/
@media(max-width:375px){
    .logo{
        font-size: 25px;
    }
    nav .ham-menu{
        display: flex;
        
    }
    .menu-icon{
        display: flex;
        
    }
    
    .rounded-button{
        border: none;
        color:white;
        font-weight: 60;
        padding: 0;
        margin: 0;
        
    }
   
     nav{
        display: flex;
        justify-content: space-between;
     }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 8px;
        
    }
    nav ul.open{
        display: flex;
        background-color: black;
        margin-bottom: -17vh;
        border-radius: 5px;
        z-index: 1;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
}
@media(max-width:425px){
    .logo{
        font-size: 25px;
    }
    nav .ham-menu{
        display: flex;
        
    }
    .menu-icon{
        display: flex;
        
    }
    
    .rounded-button{
        border: none;
        color:white;
        font-weight: 60;
        padding: 0;
        margin: 0;
        
    }
   
     nav{
        display: flex;
        justify-content: space-between;
     }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 8px;
        
    }
    nav ul.open{
        display: flex;
        background-color: black;
        margin-bottom: -17vh;
        border-radius: 5px;
        z-index: 1;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
}
@media(max-width:768px){
    .logo{
        font-size: 25px;
    }
    nav .ham-menu{
        display: flex;
        
    }
    .menu-icon{
        display: flex;
        
    }
    
    .rounded-button{
        border: none;
        color:white;
        font-weight: 60;
        padding: 0;
        margin: 0;
        
    }
   
     nav{
        display: flex;
        justify-content: space-between;
     }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 8px;
        
    }
    nav ul.open{
        display: flex;
        background-color: black;
        margin-bottom: -17vh;
        border-radius: 5px;
        z-index: 1;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
}